

<div style="display: inline-block; text-align: center; position: absolute;">
  <h2  style="padding-top: 25px">Home</h2>

  <div class="row" *ngIf="loc" >
    <div class="card col-md-4 p-1" *ngFor="let l of loc; let i =index " class="p-3" style = " width: 13.5rem; ">
    <div class="card "style="border-color: grey;  ">
        <div class="card-header text-center" style="border-bottom: grey; background-color: grey;">

          <span *ngIf = "l.livre != undefined">{{l?.livre[0]?.nom }} </span>

        </div>
        <div class="card-body text-center" style="background-color: grey;">
            <div class="form-group row">
                <div class="col-12">
                   {{l.livre[0]?.descriptif}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    date fin location :{{l.dFinLocation}}
                </div>
            </div>

        </div>
        <div class="card-footer text-center" style="background-color: grey;">
          <div class="form-group row">
              <div class="col-12">
                <button class="btn btn-dark" (click)="rendre(l.idLocation)">rendre</button>
              </div>
          </div>
        </div>
    </div>

    </div>


  </div>
