
<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center" style="background-color: black;border-color: #303030;">
  <button  routerLinkActive="active" [routerLink]="'/home'" style="background-color: #303030;border-color: #303030; color: gray;">Accueil
    <ng-template ngbNavContent>

    </ng-template>
  </button>
  <button routerLinkActive="active" [routerLink]="'/contact'"style="background-color: #303030; border-color: #303030; color: gray;">Contact
    <ng-template ngbNavContent>
      <p></p>
    </ng-template>
  </button>
  <button routerLinkActive="active" [routerLink]="'/profil'"style="background-color: #303030; border-color: #303030; color: gray;">profil
    <ng-template ngbNavContent>
      <p></p>
    </ng-template>
  </button>
  <button  style="background-color: #303030; border-color: #303030; color: gray;">test method
    <ng-template ngbNavContent>
      <p></p>
    </ng-template>
  </button>
  <div *ngIf="!t" >
  <li ngbDropdown class="nav-item">

    <a href (click)="false" class="nav-link" ngbDropdownToggle style="padding: 10px; background-color: #303030; color: gray;">Management</a>
    <div ngbDropdownMenu style="background-color: #303030;">
      <button  ngbDropdownItem [routerLink]="'/user'" style="color: gray;">User</button>
      <button ngbDropdownItem [routerLink]="'/book'" style="color: gray;">Book</button>
      <button ngbDropdownItem style="color: gray;">Something else here</button>
    </div>
  </li>
</div>
  <li *ngIf="!f" ngbNavItem [disabled]="true" class="ml-auto">
    <button [routerLink]="'/login'" style="padding: 10px;" >Authentification</button>
  </li>

  <button class="ml-auto" style="background-color: red; color: white; padding: 10px;" *ngIf="f" (click)="logout()">Se deconnecter</button>
</ul>




 <!--  <button type="button" (click)="tst()">
  ok
  </button>
<ul *ngIf="users">
  <li *ngFor="let utilisateur of users">
      <p>{{utilisateur.nom}} {{utilisateur.username}}</p>
  </li>
</ul>-->








  <div class="container">
  <div class="row">
  <router-outlet></router-outlet>
  </div>
</div>

