
<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
  <button routerLinkActive="active"><a routerLink = "/home">Accueil</a>
    <ng-template ngbNavContent>

    </ng-template>
  </button>
  <button routerLinkActive="active"><a routerLink = "/contact">Contact</a>
    <ng-template ngbNavContent>
      <p></p>
    </ng-template>
  </button>
  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Management</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem><a routerLink = "/user">User</a></button>
      <button ngbDropdownItem><a routerLink = "/book">Book</a></button>
      <button ngbDropdownItem>Something else here</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem>Separated link</button>
    </div>
  </li>
  <li ngbNavItem [disabled]="true" class="ml-auto">
    <button><a routerLink = "/login">Authentification</a></button>
    <button><a routerLink = "/register">s enregistrer</a></button>
    <ng-template ngbNavContent>
      <p></p>
    </ng-template>
  </li>
</ul>




 <!--  <button type="button" (click)="tst()">
  ok
  </button>
<ul *ngIf="users">
  <li *ngFor="let utilisateur of users">
      <p>{{utilisateur.nom}} {{utilisateur.username}}</p>
  </li>
</ul>-->








  <div class="container">
  <div class="row">
  <router-outlet></router-outlet>
  </div>
</div>
